body {
  background-color: #80c4b7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: American Typewriter, serif;
  font-size: 50px;
  margin: 50px;
  text-shadow: 1px 1px 2px rgb(127, 126, 126);
}

.calculator-body {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #e3856b;
  padding: 10px;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgb(118, 118, 118);
}

.display {
  background-color: rgba(255, 255, 255, 0.5);

  padding: 20px;

  text-align: right;
  border-radius: 20px;
  margin: 5px;
  width: 260px;
  height: 40px;
  box-shadow: 1px 1px 5px rgb(118, 118, 118);
  display: flex;
  flex-direction: column;
}

.current {
  font-family: American Typewriter, serif;
  font-size: 40px;
}
.previous {
  font-family: American Typewriter, serif;
  font-size: 20px;
}

.calc-btn {
  font-family: American Typewriter, serif;
  background-color: #edcbd2;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 1px 1px 5px rgb(118, 118, 118);
}

.calc-btn:hover {
  background-color: #f7d3da;
  cursor: pointer;
}

.calc-btn:active {
  background-color: #cbabb2;
}

.operator {
  font-family: American Typewriter, serif;
  background-color: #99e8da;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 1px 1px 5px rgb(118, 118, 118);
}

.operator:hover {
  background-color: #9ef1e2;
}

.operator:active {
  background-color: #8cd7c9;
}

.clear-btn,
.equals {
  font-family: American Typewriter, serif;
  background-color: #99e8da;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 1px 1px 5px rgb(118, 118, 118);
}

.clear-btn:hover,
.equals:hover {
  background-color: #9ef1e2;
}

.clear-btn:active,
.equals:active {
  background-color: #8cd7c9;
}
